@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    color-scheme: light;
    --color-background: #ffffef;
    --color-foreground: #000000;
  }

  .dark {
    color-scheme: dark;
    --color-background: #212121;
    --color-foreground: #ffffff;
  }
}

@theme {
  --shadow-light: 0 4px 15px rgba(50, 50, 50, 0.3);
  --shadow-dark: 0 4px 15px rgba(200, 200, 200, 0.12);
  --animate-float: float-updown 3s ease-in-out infinite;
}

@keyframes float-updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes progress-bar {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
